@charset "Utf-9";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Mrs+Saint+Delafield&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Water+Brush&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Zeyada&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background: url(imagens/foto-bio.jfif) center center no-repeat;
    background-size: cover;
    
}
::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100%;
    padding-top: 15vw;
    margin-left: 5vw;
    border-radius: 20px;
    
}
.card-top{
    
    background-color: rgb(243, 234, 222);
    border-radius: 20px 20px 0px 0px;
}
.header img{
    width: 120px;
    display: block; 
    margin: auto;
    transform: translate(0px, -50%);
    border-radius: 50%;
    border: 3px solid rgb(243, 234, 222);
}
.header h1{
    text-align: center;
    margin-top: -45px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.header h3{
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
.botoes{
    margin-top: 20px;
    margin-bottom: 35px;
}
.botoes a{
    display: block;
    margin: auto;
    text-decoration: none;
    background-color: rgb(243, 234, 222);
    color: rgb(34, 34, 34);
    width: 55%;
    height: 40px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: 1px solid rgb(34, 34, 34);
    cursor: pointer;
}
.botoes a:hover{
    background-color: rgb(34, 34, 34);
    color:rgb(243, 234, 222);
    border: 1px solid rgb(243, 234, 222) ;
    box-shadow: 0px 0px 0px 2px rgb(34, 34, 34);
}




.card-button{
    display: flex;
    background-color: rgb(34, 34, 34);
    border-radius: 0px 0px 20px 20px ;
}

.left p{
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.671);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: justify;
}
.left img{
    width: 90px;
    margin-left: 25px;
    padding-top: 20px;
}
.right{
    width: 330px;
    padding: 15px;
}
.right p{
    text-align: justify;
    color: rgb(173, 173, 173);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.right h1{
    font-family: "Mrs Saint Delafield", cursive;
    font-weight: 100;
    font-size: 2em;
    color: white;
    text-align: right;
    padding-top: 10px;
}
